*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#0c0f1c;
    color:#fff;
}

/*=========================
        NAVBAR
==========================*/

.navbar{
    display:flex;
    align-items:center;
    padding:15px 40px;
    background:#243047;
    border-bottom:2px solid #9cffb5;
}

/* LOGO */

.logo{
    width:60px;
    height:60px;

    background-image:url("/static/img/logo.png");
    background-position:center;
    background-repeat:no-repeat;
    background-size:contain;

    flex-shrink:0;
}

/* NOMBRE */

.nav-left{
    display:flex;
    align-items:center;
    gap:15px;
    flex:1;
}

/* LINKS */

.nav-links{
    display:flex;
    justify-content:center;
    gap:45px;
    flex:1;
}

.nav-links a{
    color:#fff;
    text-decoration:none;
    font-weight:bold;
    transition:.3s;
}

.nav-links a:hover{
    color:#9cffb5;
}

/* PERFIL */

.profile{
    display:flex;
    justify-content:flex-end;
    flex:1;
}

.profile-icon{
    width:50px;
    height:50px;
    border-radius:50%;
    background:#000000;
    background-image:url("/static/img/profileIcon.png");
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;

    border:2px solid #9cffb5;
}

/*=========================
        BANNER
==========================*/

.baner{
    height:420px;
    background-image:url("/static/img/baner.jpg");
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;

    display:flex;
    justify-content:center;
    align-items:center;
}

.baner-content{
    text-align:center;
}

/* BOTÓN */

.cta-btn{
    margin-top:410px;
    padding:15px 40px;
    border:none;
    border-radius:8px;
    background:linear-gradient(135deg,#d6ffe0,#9cffb5);
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

.cta-btn:hover{
    transform:scale(1.05);
}

/*=========================
        INFORMACIÓN
==========================*/

.info{
    background:#0f1a2e;
    text-align:center;
    padding:60px 20px;
}

.info h2{
    font-size:32px;
    margin-bottom:25px;
}

.info p{
    max-width:900px;
    margin:auto;
    color:#d2d2d2;
    line-height:1.8;
    font-size:18px;
}