<div class="historial-container">

    <!-- Encabezado -->

    <div class="historial-header">

        <div>

            <h2>Historial de Viajes</h2>

            <p>
                Consulta todos los viajes que has realizado.
            </p>

        </div>

        <div class="buscador">

            <i class="fa-solid fa-magnifying-glass"></i>

            <input type="text"
                   placeholder="Buscar por conductor o fecha...">

        </div>

    </div>

    <!-- Lista -->

    <div class="lista-viajes">

        {% include 'perfil/historial/lista_viajes.html' %}

    </div>

</div>