<div class="viaje-card"

    data-conductor="Juan Pérez"
    data-vehiculo="Nissan Versa 2022"
    data-placas="ABC-123"
    data-fecha="15 Julio 2026"
    data-hora="7:30 AM"
    data-duracion="18 minutos"
    data-origen="UABC Otay"
    data-destino="Zona Río"
    data-distancia="7.4 km"
    data-costo="$35 MXN"
    data-calificacion="★★★★★">


    <div class="viaje-info">


        <div class="conductor">

            <i class="fa-solid fa-user"></i>

            <span>
                Juan Pérez
            </span>

        </div>


        <div class="ruta">

            <i class="fa-solid fa-location-dot"></i>

            UABC Otay → Zona Río

        </div>


    </div>


    <div class="viaje-detalles">


        <span>

            <i class="fa-regular fa-calendar"></i>

            15 Jul 2026

        </span>


        <span>

            <i class="fa-regular fa-clock"></i>

            7:30 AM

        </span>


        <span class="estado finalizado">

            Finalizado

        </span>


    </div>


</div>