<section class="contenedor">

    <!--================ FILTROS =================-->

    <section class="filtros">

        <div class="buscar">

            <i class="fa-solid fa-magnifying-glass"></i>

            <input
                type="text"
                id="buscarAlerta"
                placeholder="Buscar alerta...">

        </div>

        <select id="filtroTipo">

            <option value="Todos">

                Tipo: Todos

            </option>

            <option value="Urgente">

                Urgente

            </option>

            <option value="Medio">

                Medio

            </option>

            <option value="Bajo">

                Bajo

            </option>

        </select>

        <select id="filtroEstado">

            <option value="Todos">

                Estado: Todos

            </option>

            <option value="Activo">

                Activo

            </option>

            <option value="Inactivo">

                Inactivo

            </option>

        </select>

        <button id="btnFiltrar">

            Filtrar

        </button>

    </section>



    <!--================ TABLA =================-->

    <section class="tabla">

        <table>
            <!--  Cabecera de la tabla  -->
            <thead>

                <tr>

                    <th>ID</th>

                    <th>Nombre</th>

                    <th>Alerta</th>

                    <th>Tipo</th>

                    <th>Estado</th>

                </tr>

            </thead>
            <!-- ======== Cuerpo de la tabla ======== -->
            <tbody id="tablaAlertas">
                {% for alerta in alertas %}
                <tr>
                    <td>{{ alerta.id }}</td>
                    <td class="col-usuario">{{ alerta.usuario.get_full_name }}</td>
                    <td>
                        <span class="badge tipo-alerta">{{ alerta.tipo }}</span>
                    </td>
                    <td class="col-detalle">{{ alerta.descripcion }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" style="text-align: center; padding: 30px;">No hay alertas registradas.</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>



        <!--================ FOOTER =================-->

        <div class="footer-tabla">

            <p>

                Mostrando 1 - 5 de 5 alertas

            </p>

            <div class="paginacion">

                <button class="pagina activa">

                    1

                </button>

            </div>

        </div>

    </section>

</section>