{% load static %}
<div class="usuario-card">
    <!--================ SIDEBAR =================-->
    <aside class="usuario-sidebar">
        <img
            id="fotoUsuario"
            src="{% static 'img/admin.png' %}"
            class="foto-usuario"
            alt="Usuario">

        <h2 id="nombreTitulo">Carlos Méndez</h2>

        <button class="tab-btn" id="btnGeneral">
            Información General
        </button>

        <button class="tab-btn active" id="btnMedico">
            Expediente Médico
        </button>
    </aside>

    <!--================ PANEL =================-->
    <section class="usuario-panel">
        <h2>Expediente Médico</h2>
        <form id="formMedico">
            <div class="grid-info">
                <div class="campo">
                    <label>Tipo de Sangre</label>
                    <select id="tipoSangre">
                        <option value="">Seleccione...</option>
                        <option>O+</option>
                        <option>O-</option>
                        <option>A+</option>
                        <option>A-</option>
                        <option>B+</option>
                        <option>B-</option>
                        <option>AB+</option>
                        <option>AB-</option>
                    </select>
                </div>

                <div class="campo">
                    <label>Alergias</label>
                    <input id="alergias" type="text" placeholder="Ej. Penicilina">
                </div>

                <div class="campo ancho">
                    <label>Enfermedades o Padecimientos</label>
                    <textarea id="enfermedades" rows="4" placeholder="Describe si el usuario presenta alguna enfermedad..."></textarea>
                </div>

                <div class="campo ancho">
                    <label>Medicamentos</label>
                    <textarea id="medicamentos" rows="4" placeholder="Medicamentos que utiliza actualmente..."></textarea>
                </div>

                <div class="campo">
                    <label>Contacto de Emergencia</label>
                    <input id="contacto" type="text">
                </div>

                <div class="campo">
                    <label>Teléfono de Emergencia</label>
                    <input id="telefonoEmergencia" type="text">
                </div>

                <div class="campo ancho">
                    <label>Observaciones</label>
                    <textarea id="observaciones" rows="5" placeholder="Información adicional..."></textarea>
                </div>
            </div>

            <div class="acciones-info">
                <button type="button" id="volver">Regresar</button>
                <button type="submit" id="guardar">Guardar Cambios</button>
            </div>
        </form>
    </section>
</div>