<section class="contenedor">

    <!--================ TARJETAS =================-->

    <section class="estadisticas">

        <!-- Calificación -->

        <div class="card-estadistica">

            <div class="icono">

                <i class="fa-solid fa-star"></i>

            </div>

            <div class="info">

                <h3>

                    Calificación Promedio

                </h3>

                <span class="valor amarillo">

                    4.7

                </span>

            </div>

        </div>



        <!-- Viajes completados -->

        <div class="card-estadistica">

            <div class="icono">

                <i class="fa-solid fa-percent"></i>

            </div>

            <div class="info">

                <h3>

                    Porcentaje de viajes completados

                </h3>

                <span class="valor verde">

                    97%

                </span>

            </div>

        </div>



        <!-- Aceptación -->

        <div class="card-estadistica">

            <div class="icono">

                <i class="fa-solid fa-chart-line"></i>

            </div>

            <div class="info">

                <h3>

                    Aceptación del público

                </h3>

                <span class="valor verde">

                    99%

                </span>

            </div>

        </div>

    </section>



    <!--================ GRAFICA =================-->

    <section class="grafica-card">

        <h2>

            Distribución semanal de calificaciones (100 viajes)

        </h2>

        <div class="grafica">

            <canvas id="graficaCalificaciones"></canvas>

        </div>

    </section>

</section>