{% load static %}

<link rel="stylesheet" href="{% static 'css/tabDGU.css' %}">
<form
    class="formulario"
    id="formDatosGenerales"
    method="POST">

{% csrf_token %}

<!--=====================================
            NOMBRE DEL ALUMNO
======================================-->

<div class="campo">

    <label for="nombre">
        Nombre del alumno
    </label>

    <div class="input-box">

        <input
            type="text"
            id="nombre"
            name="nombre"
            value="{{ request.user.nombre }}"
            maxlength="150"
            autocomplete="name"
            readonly>

        <i
            class="fa-solid fa-pencil editar"
            data-input="nombre">
        </i>

    </div>

</div>


<!--=====================================
                MATRÍCULA
======================================-->

<div class="campo">

    <label for="matricula">
        Matrícula del alumno
    </label>

    <div class="input-box">

        <input
            type="text"
            id="matricula"
            name="matricula"
            value="{{ request.user.matricula }}"
            maxlength="20"
            readonly>

    </div>

</div>


<!--=====================================
                CARRERA
======================================-->

<div class="campo">

    <label for="carrera">
        Carrera
    </label>

    <div class="input-box">

        <input
            type="text"
            id="carrera"
            name="carrera"
            value="{{ request.user.carrera }}"
            maxlength="100"
            autocomplete="organization-title"
            readonly>

        <i
            class="fa-solid fa-pencil editar"
            data-input="carrera">
        </i>

    </div>

</div>


<!--=====================================
                    ROL
======================================-->

<div class="campo">

    <label for="rol">
        Rol del usuario
    </label>

    <div class="input-box">

        <input
            type="text"
            id="rol"
            value="{{ request.user.get_rol_display }}"
            readonly>

    </div>

</div>


<!--=====================================
            BOTONES DE EDICIÓN
======================================-->

<div class="botones oculto">

    <button
        type="button"
        class="cancelar">

        Cancelar

    </button>

    <button
        type="submit"
        class="guardar">

        Guardar

    </button>

</div>

</form>
